*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: auto;
  margin: 0;
  font-family: monospace;
  background-color: coral;
}
h1{
    text-align: center;
    font-size: 30px;
    font-family: Tahoma;
}
h1::first-letter{
  font-size: 60px;
  color: rgba(149, 31, 31, 0.8);
  font-family: Haettenschweiler;
}
::selection{
  color: aliceblue;
  background-color: #36648a;
}
header{
    display: flex;
    background-color: rgb(242, 240, 255);
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}
header .logo{
    text-transform: uppercase;
    font-size: 30px;
    width: 30%;
 
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 10px;
  float: left;
  width: 80%;
  background: #f1f1f1;
 
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 10px;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    border-bottom:  2px solid black;
    display: none;
    position: absolute;
    background-color:aqua;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.slider{
  width: 350px;
  max-width: 80w;
  height: 200px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.list{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin-top: 20px;
  display: flex;
  width: max-content;
  transition: 1s;
}
.list img{
  justify-content: center;
  align-items:center;
  justify-items: center;
  width: 350px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.buttons{
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.0);
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
  overflow: hidden;
}
.buttons button:hover{
  background-color: rgba(0,0,0,0.3);
}
.buttons button:active{
  background-color: rgb(73, 149, 149);
}
.dots{
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  transition: 1s;

}
.dots li.active{
  width: 30px;
}
div.img-big{
  margin-top: 50px;
  align-items: center;
  width: 100%;
}
div.img-img{
  padding: 20px;
  align-items: center;
}
.img-img>img{
  width: 150px;
  height: 150px;
  border: 3px solid black;
  margin: 10px;
  background-color: rgb(0, 0, 255);
}
.img2>img{
  width: 150px;
  height: 150px;
  border: 3px solid rgb(219, 12, 12);
  border-radius: 50%;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}